* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #89a1e2;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(238, 230, 190, 0.178)  0%, 
    rgba(214, 205, 179, 0.747) 27%, 
    rgba(233, 223, 193, 0.753) 53%,
    rgba(97, 92, 76, 0.432)100%);
    border-top: 1px solid white;
    border-left: 1px solid white;
    width: 40em;
    height: 27em;
    border-radius: 2em;
    box-shadow: 5px 5px 20px 5px rgba(34, 34, 34, 0.781);
}

.calcwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    background-image: 
    -webkit-repeating-linear-gradient(top, rgba(241, 177, 2, 0) 0%, 
        rgba(214, 151, 14, 0)   4%, rgba(216, 186, 130, 0.1) 3%),
    -webkit-repeating-linear-gradient(top, rgba(43, 37, 23, 0) 0%, 
        hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(top, rgba(151, 139, 97, 0) 0%, 
        rgba(202, 174, 138, 0) 1.2%, rgba(192, 166, 96, 0.15) 2.2%),
    linear-gradient(180deg, rgb(155, 143, 91)  0%, 
    rgb(240, 228, 195) 47%, 
    rgb(243, 229, 183) 53%,
    rgb(117, 104, 66)100%);
    width: 38em;
    height: 25em;
}

.header {
    display: grid;
    width: 37em;
    grid-template-columns: 1.78fr 1fr 0.1fr;
    align-items: center;
    border: 2px solid rgb(145, 129, 109);
    border-radius: 0.5em;
}

.title > p {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 1.9em;
    font-weight: 800;
    transform: rotate(-12deg);  
}

.displaywrapper {
    display: grid;
    width: 16em;
    background-color: lightblue;
    border: 1px solid black;
    justify-self: center;
    /* margin-bottom: 25px; */
    height: 3em;
    margin: 1em;
    /*text-align: right;*/
    
}

.display {
    text-align: right;
    text-justify: center;
    margin: 5px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.buttonwrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 650px;
}

/* .buttonwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 650px;
} */

.numberbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.operatorbuttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 0 10px;
}

#add {
    height: 100px;
}

.button, .operatorbutton, .numberbutton, .equalsbutton, .decimalbutton {
    margin: 0px;
    height: 50px;
    width: 74px;
}

#buttonset {
    margin: 8px;
}

.activeButton {
    filter: drop-shadow(0 0 10px rgb(213, 234, 240));
}

input {
    display: flex;
    background: url('images/gemstone.png') no-repeat;
    background-size: 5.5em;
    background-position: left;
    border-left: solid 2px transparent;
    border-right: solid 0px transparent;
    border-bottom: solid 0px transparent;
    border-top: solid 0px transparent;
    filter: drop-shadow(0 0 5px rgb(73, 47, 8));
}

input:active {
    transform: translateY(3px) translateX(1px);
}

p {
    font-size: 1.5em;
    vertical-align: super;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5px;
}

.buttonset {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;


}

#one, #six, #seven {
    background: url('images/bluegemstone.png') no-repeat;
    background-size: 5.5em;
}

#two, #three {
    background: url('images/greengemstone.png') no-repeat;
    background-size: 5.5em;
}

#four, #eight {
    background: url('images/redgemstone.png') no-repeat;
    background-size: 5.5em;
}

#five {
    background: url('images/purplegemstone.png') no-repeat;
    background-size: 5.5em;
}

#zero, #nine {
    background: url('images/yellowgemstone.png') no-repeat;
    background-size: 5.5em;
}

#decimal, #equals {
    background: url('images/whitegemstone.png') no-repeat;
    background-size: 5.5em;
}

#decimal {
    margin-left: 7px;
}

#equals {
    margin-left: -3px;
}

.operatorbutton {
    background: url(images/whitegemstone.png) no-repeat;
    background-size: 5.5em;
    border: none;
}

#add {
    transform: scale(1, 1.17) translateY(7px) translateX(-3px);
    /* display: inline-block; */
    background: url(images/longwhitegemstone.png) no-repeat;
    background-size: 5em;
    /* -webkit-transform: scale(0.9, 3) translateY(34px) translateX(-4px); */
}

#add:active {
    transform: translateY(11px) translateX(-2px) scale(1, 1.17) ;
}